@font-face {
    font-family: 'Robot';
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Robot Italic';
    src: url(./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}


.MyDiv {
    background-color: rgba(27, 134, 170, 0.745);
    width: 50%;
    padding: 1%;
}


.one {
    color: black;
}

.two {
    color: #fff;
}

.three {
    color: #cc99ff;
}

.four {
    color: hsl(0, 80%, 30%);
}