@font-face {
    font-family: 'Robot';
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Robot Italic';
    src: url(./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}
